.form-input {
  @apply mb-4;
}
.form-input__label {
  @apply block text-white text-sm font-medium mb-2;
}
.form-input__wrapper {
  @apply relative;
}
.form-input__field {
  @apply w-full h-12 bg-white text-gray-900 rounded-xl px-4 border-0 focus:ring-2 focus:ring-brand-aqua;
}
